<header class="py-6 font-semibold text-neutral-900 print:hidden sm:py-10 dark:text-neutral">
  <nav class="flex items-start justify-between sm:items-center">
    <div class="z-40 flex flex-row items-center">
      {{ partial "logo.html" . }}
    </div>
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <label id="menu-button" for="menu-controller" class="block">
        <input type="checkbox" id="menu-controller" class="hidden" />
        <div class="cursor-pointer hover:text-primary-600 dark:hover:text-primary-400">
          {{ partial "icon.html" "bars" }}
        </div>
        <div
          id="menu-wrapper"
          class="invisible fixed inset-0 z-30 m-auto h-full w-full cursor-default overflow-auto bg-neutral-100/50 opacity-0 backdrop-blur-sm transition-opacity dark:bg-neutral-900/50"
        >
          <ul class="mx-auto flex w-full max-w-7xl list-none flex-col overflow-visible px-6 py-6 text-end sm:px-14 sm:py-10 sm:pt-10 md:px-24 lg:px-32">
            <li class="mb-1">
              <span class="cursor-pointer hover:text-primary-600 dark:hover:text-primary-400">
                {{ partial "icon.html" "xmark" }}
              </span>
            </li>
            {{ if .Site.Menus.main }}
              {{ $menu := .Site.Menus.main }}
              {{ range $menu }}
                {{ if not .Parent }}
                  <li class="group relative mb-1">
                    <a href="{{ .URL }}" title="{{ .Title }}" onclick="close_menu()">
                      {{ with .Params.icon }}<span class="group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600">{{ partial "icon.html" . }}</span>{{ end }}
                      {{ if .Params.showName | default true }}<span class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2">{{ .Name | markdownify | emojify }}</span>{{ end }}
                    </a>
                    {{ if .HasChildren }}
                      <ul class="absolute left-0 mt-2 hidden flex-col rounded-md bg-white p-2 shadow-lg group-hover:flex dark:bg-neutral-800 z-50">
                        {{ range .Children }}
                          <li>
                            <a href="{{ .URL }}" onclick="close_menu()" class="block whitespace-nowrap px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-700">
                              {{ .Name }}
                            </a>
                          </li>
                        {{ end }}
                      </ul>
                    {{ end }}
                  </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </label>
    {{ end }}
  </nav>
</header>
